//Oh hi, didn't expect you here. Visit https://github.com/Kudostoy0u/portfolio if you want to see the source code
doctype html
html(lang="en")
  head
    include lib.pug
    <|index.min.css|>
    title Kudos Beluga
  body
    include transition.pug
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")
    nav
      div.magic-hover.magic-hover__square
        a.nav-link.complement(href='#') Home 
      div.magic-hover.magic-hover__square
        a.nav-link.fade_out(data-url="/blog") Blog
    h1.text-white.display-1.text-center.large Kudos Beluga
    br 
    .content
      .content__container
        ul.content__container__list.text-center.display-flex
          li.content__container__list__item Rustacean
          li.content__container__list__item Freelancer
          li.content__container__list__item Web Dev
          li.content__container__list__item Coder
    .d-flex.flex-row.text-center.justify-content-center.icons
      div.p-2.tilt
        a(href="https://dev.to/Kudostoy0u" target="_blank")
          i.fab.fa-dev.text-white
      div.p-2.tilt
          a(href="https://github.com/kudostoy0u" target="_blank")
            i.fab.fa-github-square.text-white
      div.p-2.tilt
        a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank")
          i.fab.fa-facebook-square.text-white
    <|mouse.js|>
    script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js")
    <|net.js|>