//Oh hi, didn't expect you here. Visit https://github.com/Kudostoy0u/portfolio if you want to see the source code
doctype html
html
  head
    include lib.pug
    include transition.pug
    <|toast.css|>
    <|post.css|>
    body
      div#image
      div.position-absolute#container
        div#background(data-url=results.imageUrl)
        h1.display-1.text-center.text-white.title #{results.title}
        span.go-back.h1(onclick="location.href='/blog'") &#x21A2;
        br 
        br
        .container(align="center")
          .tui-editor-contents
            .content !{results.html}
    <|mouse.js|>
    <|post.js|>