//Oh hi, didn't expect you here. Visit https://github.com/Kudostoy0u/portfolio if you want to see the source code
doctype html
html
  include transition.pug
  head
    include lib.pug
    <|post.css|>
    <|magicmouse.css|>
    body(class="bg-dark")
      div#image
      div.position-absolute#container
        div#background(data-url=results.imageUrl)
        h1.display-1.text-center.text-white.title #{results.title}
        span.go-back.h1(onclick="location.href='/blog'") &#x21A2;
        .container
          br 
          br
          .content !{results.html}
    <|mouse.js|>
    <|post.js|>