noscript
  span.text-warning This site requires JavaScript to work. Please enable it. 
div(style="position:absolute;z-index:99999;width:100%;height:100vh;background:#23153C;color:white" id = "transition")
    br
    h1(style="transform:rotate(90deg);position:relative;float:right;margin-top:40vh;") Loading
<|main.js|>