meta(charset="utf-8")
noscript
  div(style="position: fixed; top: 0px; left: 0px; z-index: 30000000;height: 100%; width: 100%; background-color: #23153C")
    h1.text-white.position-absolute(style="z-index:10000") Enable Javascript to view this website
div(style="position:absolute;margin-top:-10px;margin-left:-10px;z-index:99999;width:103vw;height:103vh;background:#23153C;color:white" id = "transition")
    br
    h1(style="transform:rotate(90deg);position:relative;float:right;margin-top:40vh;") Loading
<|main.js|>