div(style="position:absolute;margin-top:-10px;margin-left:-10px;z-index:99999;width:103vw;height:103vh;background:#23153C;color:white" id = "transition")
    br
    h1(style="transform:rotate(90deg);position:relative;float:right;margin-top:40vh;") Loading
<|main.min.js|>