html {
	width: 100%;
	height: 100%;
	user-select: none;
	overflow: hidden
}

.large {
	font-size: 10vmax
}

.secondary {
	font-size: 8vmax
}

* {
	cursor: none
}

.green {
	color: green
}

.content {
	position: relative;
	margin-left: -50px;
	height: 200px;
	overflow: hidden;
	font-family: Lato, sans-serif;
	font-size: 6vmax;
	color: #ecf0f1
}

.content__container {
	overflow: hidden;
	height: 70px
}

.content__container__list {
	margin-top: 0;
	list-style: none;
	animation-name: change;
	animation-duration: 15s;
	animation-iteration-count: infinite
}

.content__container__list__item {
	line-height: 70px;
	margin: 0
}

@keyframes change {
	0%,
	100%,
	12.66% {
		transform: translate3d(0, 0, 0)
	}
	16.66%,
	29.32% {
		transform: translate3d(0, -25%, 0)
	}
	33.32%,
	45.98% {
		transform: translate3d(0, -50%, 0)
	}
	49.98%,
	62.64% {
		transform: translate3d(0, -75%, 0)
	}
	66.64%,
	79.3% {
		transform: translate3d(0, -50%, 0)
	}
	83.3%,
	95.96% {
		transform: translate3d(0, -25%, 0)
	}
}

.spacer {
	width: 20px
}

body #magicMouseCursor {
	position: fixed;
	width: 35px;
	height: 35px;
	border: 1px solid #fff;
	border-radius: 50%;
	z-index: 9999;
	left: 0;
	top: 0;
	transition: transform 70ms, width .3s, height .3s;
	pointer-events: none
}

body #magicMouseCursor.cursor-square {
	border-radius: 0
}

body #magicPointer {
	height: 5px;
	width: 5px;
	top: 0;
	left: 0;
	position: fixed;
	background: #fff;
	border-radius: 50%;
	pointer-events: none;
	transition: background .2s, width .2s, height .2s, box-shadow .2s
}

body #magicPointer.is-hover {
	background: red
}

body #magicPointer.pointer-blur {
	height: 50px;
	width: 50px;
	background: 0 0;
	border: 1px solid #fff;
	box-shadow: 0 0 15px -5px #fff
}

body #magicPointer.pointer-overlay {
	height: 50px;
	width: 50px;
	mix-blend-mode: difference;
	box-shadow: 0 0 15px -5px #fff
}

body .magic-hover {
	transition: all .2s
}

body .magic-hover:hover {
	cursor: none
}

a.underline {
	text-decoration: none
}

.icons {
	font-size: 5vmax
}

#onhover {
	opacity: 0;
	transition: 1s;
	display: inline
}

#name:hover #onhover {
	opacity: 1;
	display: inline
}

.text {
	width: 35%
}

.tilt {
	transform: rotate(0)
}

.tilt:hover {
	transform: rotate(45deg)
}

.spacer {
	height: 40vh
}

img {
	filter: brightness(100%);
	transition: 1s;
	width: 50%;
	display: block;
	height: auto
}

img:hover {
	filter: brightness(50%)
}

@keyframes myanimation {
	0% {
		bottom: -67.5vh
	}
	50% {
		bottom: -69.5vh
	}
	100% {
		bottom: -67.5vh
	}
}

.arrow {
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	position: absolute;
	transform: rotate(45deg);
	animation: myanimation 3s infinite
}
.cs-width {
  width:60%;
}